<mat-grid-tile-header>About This Tool</mat-grid-tile-header>

<p>There's an old saying in technology circles that says "naming things is hard".
  Network administrators and architects face this issue every time they need to
  configure a new server or create a new virtual machine. There are many opinions
  on naming schemes; from using element names from the periodic table, to characters
  from your favorite television series and beyond.
</p>
<p>Several years ago I ran across a <a href="https://www.cloudbees.com/blog/proper-server-naming-scheme">blog post</a> by Manuel Weiss
  detailing a scheme that I really liked. The basis of this scheme is a word list of 1626
  words specifically selected for use as server names.
</p>
<p>This simple application is designed to be a way to quickly view and filter that
  word list when needing a name for a new server or VM.
</p>
