.grid-three-column{
  display: grid;
  grid-template-columns: 3;
  grid-template-rows: 1;
}

.row-two-thirds-left{
  grid-column-start: 1;
  grid-column-end: 2;
}

.row-one-third-right{
  grid-column: 3;
}
